@charset "utf-8";
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap);
// If need, change your variables before importing Bulma
//$title-color: #ff0000;

$info : #EB219B !global;
$body-family: 'Roboto Mono', monospace;

@import "~bulma/bulma.sass";
@import "../components/hero.sass";
@import "../components/footer.sass";
@import "../components/section.sass";

.button{
    border: none;
    background: none;
    color: $white;
    &:after{
        content: '';
        z-index: -1;
        background: $info;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: skew(-30deg);
        -webkit-filter: drop-shadow(9px 6px 0 #fcff46);
    }
}

.jiu-wavy{
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: #a400ff;
    text-align: center;
    font-size: 4rem;

}

.title{
    margin-bottom: 3rem !important;
}
.jiu-title{
    color: $primary;
}
.subtitle.jiu-title{
    margin-bottom: 0rem;
}
.jiu-links{
    color: $black;
    text-decoration: underline;
    &:hover{
        text-decoration: double;
    }
}
ul{
    list-style-type: circle;
    list-style-position: inside;
}

.title.has-text-center{
    text-align: center;

}

.jiu-intro, .jiu-skills{
    padding: 4rem 0 3rem 0;
}

.jiu-m2{
    margin-bottom: 2rem;
}