@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap);

$info: #eb219b !global;
$body-family: "Roboto Mono", monospace;

@import "~bulma/bulma.sass";

html {
  background-image: url(../assets/images/dot-grid.png);
}

.jiu-mb2 {
  margin-bottom: 2rem;
}

.jiu-title {
  color: $info;
}

a {
  color: grey;
}

.is-danger {
  color: red;
}

.title,
.subtitle {
  word-break: inherit;
}

.button,
input.button {
  border: none;
  background: none;
  color: white;
  &:after {
    content: "";
    z-index: -1;
    background: $info;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: skew(-30deg);
    -webkit-filter: drop-shadow(9px 6px 0 #fcff46);
  }
}

.jiu-wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  color: #a400ff;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.contentWrapper {
  width: 90%;
  margin: auto;
}
